@model ProductListViewModel

<div id="splash">
    <h1 class="fw-bold">SPORTS STORE</h1>
</div>

<div class="py-3 text-center mb-2">
    <h4 class="fw-bold">Chào mừng đến với hệ thống SportsStore</h4>
    <p class="text-secondary">Trang chủ chính thức của cửa hàng.</p>
</div>

<div class="product-section-bg shadow-sm">
    <div class="text-center text-black mb-5">
        <h3 class="fw-bold text-uppercase">Sản Phẩm Nổi Bật</h3>
    </div>

    <div class="row g-3">
        @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
        {
            <partial name="ProductSummary" model="p" />
        }
    </div>
</div>

<div class="d-flex justify-content-center align-items-center gap-2 m-4">
    <div page-model="@Model?.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn paging-btn"
         page-class-normal="btn-outline-danger"
         page-class-selected="btn-danger"
         page-url-category="@Model?.CurrentCategory!">
    </div>
</div>
